[flake8]
# Максимальная длина строки (по PEP 8 — 79, но можно 88/100)
max-line-length = 88

# Игнорируемые ошибки и предупреждения
ignore =
    E501,
    W293,
    F401

# Исключаемые файлы и директории
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    tests

# Дополнительные параметры
per-file-ignores =
    # Игнорировать F401 (неиспользуемый импорт) в __init__.py
    __init__.py:F401